<tr>
<td><%= lister.text_field :list_item_name %></td>
<td><%= lister.text_field :list_item_brand %></td>
<td><%= lister.text_field :list_item_size %></td>
<td><%= lister.check_box :_destroy %></td>
</tr>
